<section>
  <% if current_user %>

  <h5>Hello <%= current_user.username.capitalize %></h5>

    <h5><%= flash[:alert] %></h5>
    <br>
    <%= link_to 'Create new short URL', new_link_path %><br>
    <%= link_to 'Download CSV', new_downloads_path(format: "csv" ) %>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Long URL</th>
          <th>Short URL</th>
          <th>Created By</th>
          <th>Number of Clicks</th>
          <th>Number of Countries Clicks Came From</th>
        </tr>
      </thead>

      <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><a href=<%= link_path(id: link.id) %>><%= link.id %></a></td>
          <td><a href=<%= link.url %>><%= link.url %></a></td>
          <td><a href=<%= link.short_url %>><%= link.slug %></a></td>
          <td><%= link.user_email %></td>
          <td><%= link.access_count %></td>
          <td><%= link.countries_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to('Sign Out', destroy_user_session_path, :method => 'delete') %>
    <% else %>
    <%= link_to('Login', sign_in_path) %>
    <br>
    <%= link_to('Register', sign_up_path) %>
    <% end %>
</section>